<form [formGroup]="modal">
  <mat-dialog-content class="container">
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea
        matInput
        formControlName="comments"
        placeholder="Explique el motivo de la eliminación"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="area-cancel" mat-button mat-dialog-close (click)="handleCloseModal(false)">Cancelar</button>
    <button class="area-delete" mat-button [disabled]="modal.invalid" (click)="handleCloseModal(true)">Borrar</button>
  </mat-dialog-actions>
</form>