.container {
  width: 100%;

  .table {
    width: 100%;
  }

  .mat-mdc-form-field {
    width: 30%;

     @media screen and (max-width: 720px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
