<form [formGroup]="modal" class="container">
  <mat-dialog-content class="area-comments">
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea
        matInput
        formControlName="comments"
        placeholder="Explique el motivo de la eliminación"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <button
    class="area-cancel"
    mat-button
    mat-dialog-close
    (click)="handleCloseModal(false)"
  >
    Cancelar
  </button>
  <button
    class="area-delete"
    matButton
    [disabled]="modal.invalid"
    (click)="handleCloseModal(true)"
  >
    Borrar
  </button>
</form>
