.lra-registry-form {
  display: grid;
  grid-template-areas:
    " title "
    " form  ";
  grid-template-rows: min-content min-content;

  .area-title {
    grid-area:  title;
    justify-self: center;
  }

  .area-form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 600px;
    margin: 32px auto;
    width: 90%;

    .area-submit {
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 16px;
    }
  }
}