<div class="container">
  <h2 class="area-title">Lista de capturados</h2>

  @for (entry of entryList; let i = $index; track entry.id) {
  <div class="area-item">
    <mat-icon class="area-person">person</mat-icon>
    <div class="area-name">{{ entry.name }}</div>
    <div class="area-status">{{ entry.status }}</div>

    <button class="area-edit action-button" mat-button (click)="handleEdit()">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
    <button
      class="area-delete action-button"
      mat-button
      (click)="handleOpenModal(entry.id)"
    >
      <mat-icon class="delete-icon">delete_forever</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  }
</div>