.container {
  width: 100%;
  overflow: hidden;

  .area-title {
    text-align: center;
  }

  .area-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--spacing-md);

    .action-button {
      border: none;
      background: transparent;

      .delete-icon {
        color: red;
      }
    }
  }
}
