.container {
  width: 100%;
  overflow: hidden;

  .area-title {
    text-align: center;
  }

  .area-item {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content min-content;
    grid-template-areas: " person  name  status  edit  delete ";
    gap: var(--spacing-sm);

    .area-person {
      grid-area: person;
    }

    .area-name {
      grid-area: name;
    }

    .area-status {
      grid-area: status;
    }

    .area-edit {
      grid-area: edit;
    }

    .area-delete {
      grid-area: delete;
    }

    .action-button {
      border: none;
      background: transparent;

      .delete-icon {
        color: red;
      }
    }
  }
}
