.container {
  width: 100%;
  overflow: hidden;

  .table {
    width: 100%;
  }

  .area-title {
    text-align: center;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 30%;

    @media screen and (max-width: 720px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  .action-button {
    margin-right: var(--spacing-md);
  }
}
