<div class="lra-registry-form">
  <form
    class="area-form"
    [formGroup]="registryForm"
    (ngSubmit)="handleOnSubmit()"
  >
    <h3>Datos personales</h3>
    <!-- Nombre -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Nombre del registro"
      />
      @if (registryForm.get('name')?.hasError('required')) {
      <mat-error> El nombre es obligatorio. </mat-error>
      } @if (registryForm.get('name')?.hasError('minlength')) {
      <mat-error> El nombre debe tener al menos 3 caracteres. </mat-error>
      }
    </mat-form-field>

    <!-- Apellido paterno -->
    <mat-form-field>
      <mat-label>Apellido paterno</mat-label>
      <input
        matInput
        formControlName="firstLastName"
        placeholder="Apellido paterno"
      />
      @if (registryForm.get('firstLastName')?.hasError('required')) {
      <mat-error> El apellido paterno es obligatorio. </mat-error>
      }
    </mat-form-field>

    <!-- Apellido materno -->
    <mat-form-field>
      <mat-label>Apellido materno</mat-label>
      <input
        matInput
        formControlName="secondsLastName"
        placeholder="Apellido materno"
      />
    </mat-form-field>

    <!-- Edad -->
    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input matInput formControlName="age" type="number" placeholder="Edad" />
      @if (registryForm.get('age')?.hasError('min')) {
      <mat-error> La edad mínima es 0 años. </mat-error>
      } @if (registryForm.get('age')?.hasError('required')) {
      <mat-error> La edad es obligatoria. </mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Correo electrónico"
      />

      @if (registryForm.get('email')?.hasError('required')) {
      <mat-error> El correo es obligatorio. </mat-error>
      } @if (registryForm.get('email')?.hasError('email')) {
      <mat-error> Ingresa un correo válido. </mat-error>
      }
    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field>
      <mat-label>Teléfono celular</mat-label>
      <input
        matInput
        formControlName="cellphone"
        placeholder="Teléfono celular"
      />
      @if ( registryForm.get('cellphone')?.hasError('pattern') ) {
      <mat-error> Ingresa un número válido de 10 dígitos. </mat-error>
      }
    </mat-form-field>

    <!-- Tipo de ingreso -->
    <mat-form-field>
      <mat-label>Tipo de ingreso</mat-label>
      <mat-select formControlName="entryTipe">
        <mat-option value="fiesta">Fiesta</mat-option>
        <mat-option value="celebracion">Celebracion</mat-option>
      </mat-select>
      @if (registryForm.get('entryTipe')?.hasError('required')) {
      <mat-error> El tipo de ingreso es obligatorio. </mat-error>
      }
    </mat-form-field>

    <!-- Nombre de quien lo invito -->
    <mat-form-field>
      <mat-label>Nombre de quien lo invitó</mat-label>
      <input
        matInput
        formControlName="invitedBy"
        placeholder="Nombre de quien lo invitó"
      />
      @if (registryForm.get('invitedBy')?.hasError('required')) {
      <mat-error> El nombre de quien lo invitó es obligatorio. </mat-error>
      }
    </mat-form-field>

    <!-- Dia  de la semana para visitar-->
    <mat-form-field>
      <mat-label>Día de la semana para visitar</mat-label>
      <mat-select formControlName="visitDay">
        <mat-option value="lunes">Lunes</mat-option>
        <mat-option value="martes">Martes</mat-option>
        <mat-option value="miercoles">Miércoles</mat-option>
        <mat-option value="jueves">Jueves</mat-option>
        <mat-option value="viernes">Viernes</mat-option>
        <mat-option value="sabado">Sábado</mat-option>
        <mat-option value="domingo">Domingo</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Hora para visitar -->
    <mat-form-field>
      <mat-label>Hora para visitar</mat-label>
      <input
        matInput
        formControlName="visitTime"
        [matTimepicker]="timePicker"
      />
      <mat-timepicker-toggle matIconSuffix [for]="timePicker" />
      <mat-timepicker #timePicker />
    </mat-form-field>

    <h3>Domicilio</h3>

    <!-- Calle -->
    <mat-form-field>
      <mat-label>Calle</mat-label>
      <input matInput formControlName="street" placeholder="Calle" />
    </mat-form-field>

    <!-- Número de calle -->
    <mat-form-field>
      <mat-label>Número de calle</mat-label>
      <input
        matInput
        formControlName="streetNumber"
        placeholder="Número de calle"
      />
    </mat-form-field>

    <!-- Código postal -->
    <mat-form-field>
      <mat-label>Código postal</mat-label>
      <input matInput formControlName="zipCode" placeholder="Código postal" />
      @if (registryForm.get('zipCode')?.hasError('pattern')) {
      <mat-error> Código postal inválido. </mat-error>
      }
    </mat-form-field>

    <!-- Referencia -->
    <mat-form-field>
      <mat-label>Referencia de domicilio</mat-label>
      <input
        matInput
        formControlName="referende"
        placeholder="Referencia del domicilio"
      />
    </mat-form-field>

    <!-- Región -->
    <mat-form-field>
      <mat-label>Región</mat-label>
      <input matInput formControlName="region" placeholder="Región" />
    </mat-form-field>

    <!-- Estado -->
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        @for (estado of STATES; track estado) {
        <mat-option [value]="estado">
          {{ estado }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Número de casa -->
    <mat-form-field>
      <mat-label>Número de casa</mat-label>
      <input
        matInput
        formControlName="houseNumber"
        placeholder="Número de casa"
      />
    </mat-form-field>

    <!-- Sexo -->
    <mat-form-field>
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="F">Femenino</mat-option>
      </mat-select>

      @if (registryForm.get('sex')?.hasError('required')) {
      <mat-error> El sexo es obligatorio. </mat-error>
      }
    </mat-form-field>

    <h3>Casa de Paz</h3>

    <!-- Líder de casa de paz -->
    <mat-form-field>
      <mat-label>Líder de casa de paz</mat-label>
      <input
        matInput
        formControlName="peaceHouseLeader"
        placeholder="Nombre del líder"
      />
    </mat-form-field>

    <!-- Número de casa de paz -->
    <mat-form-field>
      <mat-label>Número de casa de paz</mat-label>
      <input
        matInput
        formControlName="peaceHouseNumber"
        placeholder="Número de casa de paz"
      />
    </mat-form-field>

    <!-- ¿Primera visita? -->
    <mat-form-field>
      <mat-label>¿Es su primera visita?</mat-label>
      <mat-select formControlName="isFirstTimeVisit">
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Fecha de primera visita -->
    <mat-form-field>
      <mat-label>Fecha de primera visita</mat-label>
      <input
        matInput
        formControlName="dateFirstTimeVisit"
        [matDatepicker]="picker"
        placeholder="Selecciona fecha"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Red -->
    <h3>Red</h3>
    <mat-form-field>
      <mat-label>Red</mat-label>
      <mat-select formControlName="network">
        @for (network of NETWORKS; track network) {
        <mat-option [value]="network">
          {{ network }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Responsable -->
    <mat-form-field>
      <mat-label>Responsable</mat-label>
      <mat-select formControlName="pastor">
        @for (pastor of PASTORS[registryForm.get('network')?.value] || []; track
        pastor) {
        <mat-option [value]="pastor">
          {{ pastor }}
        </mat-option>
        }
      </mat-select>
      @if (registryForm.get('pastor')?.hasError('required')) {
      <mat-error> El pastor es obligatorio. </mat-error>
      }
    </mat-form-field>

    <!-- Discipulador -->
    <mat-form-field>
      <mat-label>Discipulador</mat-label>
      <mat-select formControlName="discipulador">
        @for (discipulador of DISCIPULADORES[ registryForm.get('network')?.value
        ] || []; track discipulador) {
        <mat-option [value]="discipulador">
          {{ discipulador }}
        </mat-option>
        }
      </mat-select>
      @if (registryForm.get('discipulador')?.hasError('required')) {
      <mat-error> El discipulador es obligatorio. </mat-error>
      }
    </mat-form-field>

    <!-- Comentarios -->
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea
        matInput
        formControlName="comments"
        placeholder="Comentarios adicionales"
      ></textarea>
    </mat-form-field>

    <button
      type="submit"
      matButton="filled"
      class="area-submit"
      color="primary"
      [disabled]="registryForm.invalid"
      (click)="openDialog()"
    >
      Preview
    </button>
  </form>
</div>
